.selectorsWrapper {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
  width: fit-content;

  @media screen and (max-width: 1028px) {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

.selectorBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #222;
  font-size: 1rem;
}

.toggleGroup {
  border-radius: 8px;
  width: 100%;
}

.select {
  background: #f5f5f5;
  border-radius: 8px;
  min-width: 120px;
}
