.wrapper {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  width: 100%;
  text-align: left;

  h1 {
    margin: 0;
    display: flex;
    padding: 0;
    font-size: 14rem;
    color: var(--primary-color);
    letter-spacing: -10px;
  }

  p {
    margin: 0;
    display: flex;
    padding: 0;
    color: var(--text-gray);
    font-weight: 600;
  }
}