* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: var(--font-family);
}


:root {
    --primary-color: #4A90E2;
    --secondary-color: #50E3C2;
    --tertiary-color: #9013FE;
    --quaternary-color: #F5A623;
    --text-black: #242424;
    --text-gray: #878787;
    --font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}
