.grid {
  display: grid !important;
  width: 100% !important;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 8px !important;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 8px !important;
  }
}