.section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: var(--16px) 0;

  @media (max-width: 768px) {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
}

.left,
.right {
  flex: 1;
  min-width: 300px;

  @media screen and (max-width: 768px) {
    width: 100%;
    min-width: unset;
  }
}

.single .left,
.single .right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
